/***************
  Global Styles
****************/

html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

:focus {
  outline: none;
}

a:focus {
  outline: auto;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.9rem;
  margin: 0;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

p {
  line-height: 1.5;
}

a {
  color:hsl(321, 100%, 78%)
}
a:visited {
  color:hsl(322, 100%, 66%)
}

button:active, button:hover {
  cursor: pointer;
}

.mobile-bg-top, .mobile-bg-bottom, .mobile-footer-top {
  display: none;
}

/***************
  Component Styles
****************/


/** button styles **/
.header-button {
  color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 20px;
  background-color: white;
  padding: 0px 30px 0px 30px;
  font-size: 14px;
  box-shadow: 0px 0px 5px 5px hsla(321, 100%, 78%, 0.2);
}

.header-button:hover,
.header-button:focus {
  color: hsl(321, 100%, 78%);
  border-color:hsl(321, 100%, 78%);
}

.get-started-button {
  font-size: 18px;
  height: 80px;
  padding: 0px 100px 0px 100px;
  border-radius: 70px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: none;
}

.get-started-button:hover,
.get-started-button:focus {
  background-color: hsl(321, 100%, 78%);
}

/***************
  Layout Styles
****************/

/** Header Styles**/
header {
  padding: 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 165px;
}

/** Call to Action Styles **/
.get-started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.large-paragraph {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 590px;
  color: hsl(192, 100%, 9%);
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.screen-mockups {
  width: 1015px;
  margin-top: 175px;
}

/** Customer Count Section **/
.customer-count {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 130px;
}

.count > p {
  margin: 0;
}

.count-small-p {
  font-size: 24px;
  font-family: "Open sans", sans-serif;
  display: flex;
  justify-content: center;
  color: hsl(191, 10%, 56%);
}

.big-number {
  font-size: 90px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

/** Middle Section**/

.sub-section {
  display: grid;
  justify-content: center;
}

.sub-section-one,
.sub-section-three {
  background-color: #f6fbff;
  padding: 70px;
}

.bg-top {
  margin-top: 145px;
  margin-bottom: -6px;
  width: 100%;
}
.bg-bottom {
  margin-bottom: 145px;
  width: 100%;
}

.sub-section > img {
  height: 420px;
}
.sub-section > p {
  font-family: "Open sans", sans-serif;
  width: 500px;
}

.sub-section-one {
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "title img"
    "text img";
}
.sub-section-one > h2,
.sub-section-three > h2 {
  grid-area: title;
  align-self: end;
  margin-bottom: 5px;
}
.sub-section-one > p,
.sub-section-three > p {
  grid-area: text;
  align-self: start;
}
.sub-section-one > img,
.sub-section-three > img {
  grid-area: img;
  margin-left: 120px;
}

.sub-section-two {
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "img title"
    "img text";
}
.sub-section-two > h2 {
  grid-area: title;
  align-self: end;
  margin-bottom: 5px;
}
.sub-section-two > p {
  grid-area: text;
  align-self: start;
}
.sub-section-two > img {
  grid-area: img;
  margin-right: 120px;
}

.sub-section-three {
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "title img"
    "text img";
}

/** Footer Section **/
footer {
  background-color: hsl(192, 100%, 9%);
  padding: 120px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Open Sans', sans-serif;
}
.footer-top {
  margin-top: 145px;
  margin-bottom: -6px;
  width: 100%;
}
.footer-section > h3 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 400;
}
.footer-section > p {
  font-size: 16px;
  max-width: 350px;
  font-weight: 400;
}

.footer-section-one {
  padding-bottom: 5px;
}

.footer-icon {
  padding-right: 10px;
}

.footer-section-two {
  justify-self: end;
}

.footer-section-two > h3 {
  margin-top: 0px;
}

.footer-section-two > p {
  margin-bottom: 40px;
}

.contact-info {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.newsletter-input {
  height: 46px;
  width: 320px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 14px;
}

.invalid-email {
  position: absolute;
  margin-left: -330px;
  margin-top: 55px;
  font-size: 12px;
  color: hsl(0, 100%, 63%);
}

.subscribe-btn {
  height: 50px;
  width: 160px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  margin-left: 30px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: hsl(321, 100%, 78%);
}

.social-media {
  display: flex;
}
.social-icon {
  height: 35px;
  width: 35px;
  color: white;
  margin-top: 80px;
  margin-right: 20px;
  border-radius: 5px;
}

.social-icon:hover,
.social-icon:focus {
  background-color: hsl(191, 100%, 46%);
  cursor: pointer;
}

/***************
  Mobile Styles
  Designed for width: 375px
****************/

@media (max-width: 414px) {
  /** Mobile Global styles **/
  h1, .get-started h2 {
    font-size: 23px;
  }

  h2 {
    font-size: 18px
  }

  p {
    font-size: 14px;
  }

  .bg-top, .bg-bottom {
    display: none;
  }

  .mobile-bg-top, .mobile-bg-bottom, .mobile-footer-top {
    display: unset;
  }

  /** Header Section **/

  header {
    padding: 25px 25px 40px 25px;
    margin-bottom: 75px;
    align-items: center;
  }

  .logo {
    height: 16px;
  }

  .header-button {
    padding: 5px 15px 5px 15px;
    font-size: 11px
  }

  /** Call to Action Section **/

  .get-started-button {
    font-size: 12px;
    height: 40px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .get-started {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .large-paragraph {
    font-size: 14px;
    max-width: 300px
  }

  .get-started h1, .get-started h2 {
    max-width: 300px;
  }

  .screen-mockups {
    max-width: 300px;
    margin-top: 90px
  }

  /** Customer Count Section **/
  .customer-count {
    flex-direction: column;
    margin-top: 120px;
  }

  .count {
    display: grid;
    justify-content: center;
    margin-bottom: 70px
  }

  .count-icon {
    width: 30px;
  }

  .big-number {
    font-size: 60px;
    
  }

  .count-small-p {
    font-size: 15px;
  }

  /** Middle Section **/

  .mobile-bg-top {
    margin-bottom: -6px;
    width: 100%;
  }

  .mobile-bg-bottom {
    width: 100%;
  }

  .sub-section {
    justify-items: center;
    text-align: center;
    padding-bottom: 60px;
  }
  .sub-section-one, .sub-section-three {
    grid-template-areas: 
      'img'
      'title'
      'text';
  } 

  .sub-section-two {
    padding: 145px 0px;
  }

  .sub-section img {
    height: 200px;
    padding-bottom: 80px;
  }

  .sub-section p {
    max-width: 320px;
  }

  .sub-section-one > img, .sub-section-three > img {
    margin-left: 0
  }

  .sub-section-two {
    grid-template-areas: 
      'img'
      'title'
      'text'
    ;
  }

  .sub-section-two img {
    margin-right: 0;
  }

  /* Call to action */
  .get-started:nth-of-type(even) {
    padding: 65px 0px;
  } /* the second .get-started section just above the footer */

  /* Footer section */

  .footer-top {
    visibility: hidden;
  } /* hide desktop footer top image*/

  .mobile-footer-top {
    margin-bottom: -6px;
    width: 100%;
  }

  footer {
   grid-template-columns: 1fr;
   padding: 30px;
   padding-top: 60px;
   grid-gap: 100px;
  }

  .footer-section p {
    font-size: 14px;
    max-width: 300px;
    line-height: 1.75;
    margin-bottom: 30px
  }

  .footer-section-two h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .footer-section-one {
    order: 2;
  }

  .footer-section-two {
    justify-self: start;
  }

  .newsletter-input {
    width: 300px;
  }

  form {
    display: grid;
  }

  .invalid-email {
    margin-left: -310px;
  }

  .subscribe-btn {
    margin: 0;
    margin-top: 15px;
    justify-self: end;
  }

  .footer-logo {
    width: 200px;
  }

  .contact-info {
    margin-bottom: 0px !important;
    
  }
  .contact-info {
    font-size: 14px !important;
  }

  .social-icon {
    margin-top: 40px;
    height: 28px;
    width: 28px;
  }

  .attribution {
    order: 3
  }
}